// color
.s-g-box-shadow {
  box-shadow: 0 13px 21px var(--s-shadow__color);
}

.s-g-background-linear-brown--dark {
  background: transparent conic-gradient(from 156deg at 50% 120%, var(--s-color--brown) 0%, var(--s-color--brown--dark) 100%) 0 0 no-repeat padding-box;
}

.s-g-background-linear-brown {
  background: transparent conic-gradient(from 156deg at 50% 120%, var(--s-color--brown) 0%, var(--s-color--brown-yellow--light) 100%) 0 0 no-repeat padding-box;
}

.s-g-background-linear-brown--light {
  background: transparent conic-gradient(from 156deg at 50% 120%, var(--s-color--brown) 0%, var(--s-color--brown--light) 100%) 0 0 no-repeat padding-box;
}

.s-g-background-linear-purple {
  background: transparent conic-gradient(from 91deg at 50% 102%, #814DF5 0.00%, #613AB9 49.70%, #633BBD 74.70%, #41277B 100.00%) 0% 0% no-repeat padding-box;
}

.s-g-background-linear-purple--light {
  background: transparent conic-gradient(from 90deg at 50% 120%, var(--s-color--purple-light) 0%, var(--s-color--brown-yellow--light) 100%) 0% 0% no-repeat padding-box;
}

.s-g-background-linear-green {
  background: transparent conic-gradient(from 90deg at 50% 120%, var(--s-color--green) 0%, var(--s-color--grey--light) 100%) 0% 0% no-repeat padding-box;
}

.s-g-background-linear-grey {
  background: transparent conic-gradient(from 90deg at 50% 120%, var(--s-color--grey--dark) 0%, var(--s-color--grey) 100%) 0% 0% no-repeat padding-box;
}




// type
.s-g-font-xxl {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1,
.s-g-font-xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  font-weight: 500;
}

h2,
.s-g-font-l {
  color: var(--s-color--purple-light);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h3,
.s-g-font-m {
  color: var(--s-color--purple-light);
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

// UI
.s-g-ui--button-rounded {
  display: block;
  border: none;
  cursor: pointer;
  background: white;
  width:          var(--s-radius--xl);
  height:         var(--s-radius--xl);
  border-radius:  var(--s-radius--xl);
}

.s-g-ui-button {
  background: var(--s-color--green);
  color: white;
  padding: 1rem 1rem;
  box-sizing: border-box;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
}

.s-g-ui-option {
  border-radius: var(--s-radius--xl);
  padding: .5rem;

  &.s-g-ui-option--flat-gold            {background: transparent conic-gradient(from 90deg at 50% 50%, #86730D 0.00%, #433A07 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--black-hd             {background: transparent conic-gradient(from 90deg at 50% 50%, #000000 0.00%, #262626 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--medium-blue          {background: transparent conic-gradient(from 90deg at 50% 50%, #0F3486 0.00%, #081A43 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--metallic-silver      {background: transparent conic-gradient(from 90deg at 50% 50%, #646464 0.00%, #AAA8A8 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--fluorescent-yellow   {background: transparent conic-gradient(from 90deg at 50% 50%, #CEFF00 0.00%, #EAFCA1 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--brown                {background: transparent conic-gradient(from 90deg at 50% 50%, #6E3D0C 0.00%, #AF6909 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--green                {background: transparent conic-gradient(from 90deg at 50% 50%, #19A74A 0.00%, #007929 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--fluorescent-red      {background: transparent conic-gradient(from 90deg at 50% 50%, #FF3100 0.00%, #FF552E 0.00%, #FA2B2B 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--orange               {background: transparent conic-gradient(from 90deg at 50% 50%, #FF7600 0.00%, #FF9D00 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--fluorescent-green    {background: transparent conic-gradient(from 90deg at 50% 50%, #00FF14 0.00%, #91FD24 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--purple               {background: transparent conic-gradient(from 90deg at 50% 50%, #5F2CD1 0.00%, #301669 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--metallic-gold        {background: transparent conic-gradient(from 90deg at 50% 50%, #D9A700 0.00%, #F0D500 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--blue                 {background: transparent conic-gradient(from 90deg at 50% 50%, #4D5AF5 0.00%, #272D7B 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--yellow               {background: transparent conic-gradient(from 90deg at 50% 50%, #FFE200 0.00%, #FFF479 100.00%) 0% 0% no-repeat padding-box;}
  &.s-g-ui-option--bright-red           {background: transparent conic-gradient(from 90deg at 50% 50%, #FF0000 0.00%, #FF5757 100.00%) 0% 0% no-repeat padding-box;}
}


// sections
.s-g-section {
  padding-top: 3rem;
  min-height: 100vh;

  .s-g-section__title {
    position: sticky;
    top: 5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    > * {
      border-radius: 3rem;
      padding: .6rem 1rem .4rem;
      margin: 0;
      outline: solid 1px var(--s-color--purple-light);
      box-shadow: 0 0 31px var(--s-shadow__color);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      font-size: .85rem;
      line-height: 1rem;
    }
  }
}

// grid
.s-g-grid {
  display: grid;
  gap: 1rem;

  &.s-g-grid--coll-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.s-g-grid--coll-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .s-g-grid__item {
    display: flex;
  }
}

.s-g-remove-child-margin {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

