.s-g-box-shadow {
  box-shadow: 0 13px 21px var(--s-shadow__color);
}

.s-g-background-linear-brown--dark {
  background: transparent conic-gradient(from 156deg at 50% 120%, var(--s-color--brown) 0%, var(--s-color--brown--dark) 100%) 0 0 no-repeat padding-box;
}

.s-g-background-linear-brown {
  background: transparent conic-gradient(from 156deg at 50% 120%, var(--s-color--brown) 0%, var(--s-color--brown--yellow) 100%) 0 0 no-repeat padding-box;
}

.s-g-background-linear-brown--light {
  background: transparent conic-gradient(from 156deg at 50% 120%, var(--s-color--brown) 0%, var(--s-color--brown--light) 100%) 0 0 no-repeat padding-box;
}

.s-g-background-linear-purple--light {
  background: transparent conic-gradient(from 90deg at 50% 120%, var(--s-color--purple-light) 0%, var(--s-color--brown--yellow) 100%) 0% 0% no-repeat padding-box;
}




// type
.s-g-font-xxl {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1,
.s-g-font-xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

h2,
.s-g-font-l {
  color: var(--s-color--purple-light);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// UI

.s-g-ui--button-rounded {
  --radius: 3rem;

  display: block;
  border: none;
  cursor: pointer;
  background: white;
  width:          var(--radius);
  height:         var(--radius);
  border-radius:  var(--radius);
}


// sections
.s-g-section {
  min-height: 100vh;

  .s-g-section__title {
    position: sticky;
    top: 5rem;
    z-index: 100;
    text-align: center;
    outline: solid 1px var(--s-color--purple-light);
    padding-top: .75rem;
    padding-bottom: .25rem;
    border-radius: 3rem;
    box-shadow: 0 0 31px var(--s-shadow__color);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}

// grid
.s-g-grid {
  display: grid;
  gap: 1rem;

  &.s-g-grid--coll-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.s-g-grid--coll-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .s-g-grid__item {
    display: flex;
  }
}
